<?xml version='1.0' encoding='utf-8'?>
<plugin id="cocoapods-plugin-test" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>cocoapodsplugintest</name>
    <js-module name="cocoapodsplugintest" src="www/cocoapodsplugintest.js">
        <clobbers target="cordova.plugins.cocoapodsplugintest" />
    </js-module>

    <!--<framework src="GoogleCloudMessaging" type="podspec" spec="~> 1.2.0" />-->

    <config-file target="config.xml" parent="/*">
        <preference name="deployment-target" value="11.0" />
    </config-file>

    <dependency id="cordova-plugin-cocoapod-support" url="https://github.com/agoncalvesos/cordova-plugin-cocoapods-support.git"/>
    <platform name="ios">

        <pods-config ios-min-version="11.0" >
            <!-- optionally add private spec sources -->
            <source url="https://github.com/CocoaPods/Specs.git"/>
            <source url="https://github.com/LivePersonInc/iOSPodSpecs.git"/>
        </pods-config>

        <pod name="LPMessagingSDK" />

    </platform>
</plugin>
